:root{
    /* backgroundColor:'#070615' */
    /* black theme */
    /* --mainbackground-color:#070615;
    --highlights-color:#12152b;
    --apptext-color:white; */

    /* white theme */
    /* --mainbackground-color:white;
    --highlights-color: whitesmoke;
 --apptext-color:#161b2a; */
}

.app{
    background-color: var(--mainbackground-color);
    font-family: 'Poppins',sans-serif;
}

.darkTheme{
    --mainbackground-color:#070615;
    --highlights-color:#12152b;
    --apptext-color:white;
}

.lightTheme{
    --mainbackground-color:white;
    --highlights-color: whitesmoke;
    --apptext-color:#161b2a;
}